<script type="module" src="../scripts/footer.js"></script>
<footer class="footer-wrapper" style="background: transparent;">
    <div class="footer">
        <div class="footer-left">
            <div class="footer-box">
                <div class="box-tooltip typing-container">
                    <span class="typing-line">"You are asking the design of this taxonomy?"</span>
                    <span class="typing-line">"Yes, I situated the projects on a 2D grid and tagged them across dimensions, to invite you exploring the interplays."</span>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p class="copyright-text">© Ziru Wei<span class="copyright-tooltip typing-container"><span class="typing-line">"Unless otherwise noted, ALL figures/texts here are created by me."</span></span></p>
        </div>
    </div>
</footer>
