<footer class="footer-wrapper" style="background: transparent;">
    <div class="footer">
        <div class="footer-left">
            <div class="footer-box">
                <div class="box-tooltip typing-container">
                    <span class="typing-line">"I designed this site around multiple labeling dimensions rather than strict categories."</span>
                    <span class="typing-line">"Since my past projects resist strong classification, I prefer this 'weak categorization' approach."</span>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p class="copyright-text">© Ziru Wei<span class="copyright-tooltip typing-container"><span class="typing-line">"Unless otherwise noted, ALL figures and texts on this site are created by me."</span></span></p>
        </div>
    </div>
</footer>
