<nav class="navbar" style="background: transparent;">
    <div class="nav-container">
        <div class="nav-left">
            <div class="nav-box-container">
                <div class="nav-box"></div>
                <a href="/index.html" class="nav-item">Projects</a>
            </div>
        </div>
        <div class="nav-right">
            <a href="/about.html" class="nav-item">About</a>
            <a href="/news.html" class="nav-item">News</a>
            <a href="mailto:ziruw@andrew.cmu.edu" class="nav-item">@</a>
        </div>
    </div>
</nav> 