:root {
    --noise-color: rgba(0, 0, 0, 0.9);
    --noise-speed: 5s;
  }
  
  /* 噪点滤镜 */
  .noise-filter {
    position: relative;
    overflow: hidden;
  }
  
  .noise-filter::before {
    content: "";
    position: absolute;
    inset: -100%;
    background-image: 
      radial-gradient(
        var(--noise-color) 0.5px,
        transparent 1px
      );
    background-size: 
      3px 3px;
    animation: noise var(--noise-speed) infinite linear;
    opacity: 0.03;
    z-index: 1;
    mix-blend-mode: overlay;
    pointer-events: none;
  }
  
  @keyframes noise {
    0% { background-position: 0 0 }
    100% { background-position: 100px 100px }
  }